<div class="nested-fields">
  <%= f.label :content, "Question" %><br />
  <%= f.text_area :content, rows: 3, class: "form-control" %>
  <%= f.hidden_field :_destroy %>
  <%= link_to "remove Question", '#', class: "remove-fields" %>
  <br />
  <div class = "answer-field">
    <%= f.fields_for :answers do |answer| %>
    <%= render "answer_fields", f: answer %>
    <% end %>
  </div>
  <%= link_to 'Add Answer', '#', id: "sub_answer", data: {content: sub_answer_field(f)}, class: 'btn' %>
</div>

