<ul>
<% @users.each do |user| %>
  <li><%= t".id"%>:<%= user.id%></li>
  <li><%= t".name"%>:<%= user.name%></li>
  <li><%= t".email"%>:<%= user.email%></li>
  <%= image_tag(user.avatar.url, size: "100x100") %>
<% end %>
</ul>

