<h1>Total Result of <%= current_user.name %></h1>
<table class = "table table-bordered table-hover">
  <thead>
    <tr>
      <th><h2>No. </h2></th>
      <th><h2>Subject</h2></th>
      <th><h2>Exam</h2></th>
      <th><h2>Score</h2></th>
    </tr>
  </thead>
  <tbody>
    <% @responds.each_with_index do |respond, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= respond.results.first.exam.subject.name %></td>
        <td><%= respond.results.first.exam.name %></td>
        <td><%= respond.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
