<% provide :button_text, t(".button") %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h3 class="modal-title" id="myModalLabel"><%= t".title" %></h3>
</div>
<%= form_for @subject do |f| %>
  <div class="modal-body">
    <%= f.label :subject_name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="modal-footer">
    <%= f.submit yield :button_text, class: "btn btn-primary" %>
  </div>
<% end %>
